<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="Astrology">
  <meta name="keywords" content="Astrology, signs, gemstones, tarot, horoscopes, cards, numerology, Zodiac">
  <meta name="author" content="hsoft">
  <meta name="MobileOptimized" content="320">

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.css">
  <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/images/header/favicon.png">
</head>
<body>
  <!-- Header -->
  <%- include('../partials/header') %>

  <!-- Page Body -->
  <%- body %>

  <!-- Footer -->
  <%- include('../partials/footer') %>

  <!-- Scripts -->
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/jquery.magnific-popup.js"></script>
  <script src="/js/owl.carousel.js"></script>
  <script src="/js/jquery.countTo.js"></script>
  <script src="/js/jquery.appear.js"></script>
  <script src="/js/custom.js"></script>
</body>
</html>
